@import url(../css/selectordie_theme_01.css);

.base_body{
    margin: 0 auto;
    min-width: 320px;
    max-width: 640px;
    height: 100%;
}

.top_inner{
    width:100%;
    margin:0 auto;
    position:relative;
    height:60px;
    background-color:#434343;
    min-width: 320px;
    max-width: 640px;

}

.top_inner h2{
    font-family:"微软雅黑";
    font-weight:normal;
    line-height:60px;
    text-align:center;
    color:#fff;
    font-size:24px;
    margin-top: 0px;
}

.main_pic{
    background:url(../images/mine_main_bg.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    /*min-width:640px;*/
    min-height: 705px;
    /*min-height: 20px;*/
}

.container{
    max-width: 640px;
    padding: 0;
}

.text_center{
    text-align: center;
}

/*span{
    font-size:18px;
    color:#fff;
    font-family:"微软雅黑";
}*/


/**{
    margin:0 auto;
    padding:0;
    list-style-type:none;
    font-size:18px;
    font-family:"微软雅黑";
    color:#fff;
}*/

.left_right{
    padding-left: 15px; 
    padding-right: 15px;
}
