@charset "utf-8";
/* CSS Document */

.clear{
	clear:both;
}
*{
	padding:0;
	margin:0;
}
ul,ol{
	list-style:none;
}
a{
	outline:none;
	text-decoration:none;
}
img{
	border:0;
}
body{
	font-family:Arial, Helvetica, sans-serif;
}
.top_inner,.main_inner,.nav_inner{
	width:750px;
	margin:0 auto;
}
#main,#nav,#top{
	min-width:750px;
}
.top_inner{
	position:relative;
	height:80px;
	background-color:#434343;
}
.top_inner img{
	position:absolute;
	top:0;
	left:0;
}

.top_inner h2{
	font-family:"微软雅黑";
	font-weight:normal;
	line-height:80px;
	text-align:center;
	color:#fff;
	font-size:36px;
}
.main_inner{
	background-color:#dcdcdc;
}
.main_inner li{
	position:relative;
	width:330px;
	padding:10px;
	float:left;
	border:1px solid #ababab;
	margin:10px;
	background:url(../images/c_canle_07.png) rgba(255,255,255,0.7) no-repeat right bottom;
}
.main_inner .c_canle{
	position:absolute;
	bottom:0;
	right:0;
	color:#ff432f;
	font-size:16px;
	font-family:"微软雅黑";
	padding-right:38px;
}
.main_inner h2{
	font-size:22px;
	font-family:"微软雅黑";
	font-weight:normal;
	color:#434343;
}
.main_inner h3{
	font-size:24px;
	font-weight:normal;
	color:#ff432f;
	line-height:40px;
}
.main_inner h4{
	font-size:24px;
	font-family:"微软雅黑";
	font-weight:normal;
	color:#434343;
}
.main_inner .bold{
	font-weight:bold;
}






