.dropdown_box{
        width:186px; 
        margin:80px auto; 
        position:relative
}
.dropdown_box p{
    width:150px; 
    height:24px;
    line-height:24px;
    padding-left:4px;
    padding-right:30px;
    border:1px solid #a9c9e2;
    background:#e8f5fe url(../images/arrow.gif) no-repeat right 4px;
    color:#807a62;
    cursor:pointer
}
.dropdown_box ul{width:184px;
     background:#e8f5fe;
     margin-top:2px;
     border:1px solid #a9c9e2;
     position:absolute;
     display:none
 }
.dropdown_box ul li{height:24px;
     line-height:24px;
     text-indent:10px
 }
.dropdown_box ul li a{display:block;
     height:24px;
     color:#807a62;
     text-decoration:none
 }
.dropdown_box ul li a:hover{
    background:#c6dbfc; 
    color:#369
}
#result{
    margin-top:10px;
    text-align:center
}