*{
            margin:0 auto;
            padding:0;
            list-style-type:none;
            font-size:18px;
            text-align:center;
            font-family:"微软雅黑";
            color:#fff;
        }
        /* tab */
        #tab{
            width:80%;
            position:relative;
            /*margin:40px auto;*/
        }

        /*.tab_box{
            padding-top: 100px;
        }*/
        /*.tab_menu{
            width:100%;
            float:left;
            position:absolute;
            z-index:1;
            border-bottom:2px solid #FFFFFF;
            padding-top: 40px;
            height: 28px;
        }
        .tab_menu li{
            float:left;
            width:49%;
            height:30px;
            line-height:30px;
            border:2px solid #ccc;
            border-bottom:0px;
            cursor:pointer;
            text-align:center;
            margin:0 2px 0 0;
            border:0;
            
        }
       
        .selected{
            border:0;
            border-bottom:2px solid #FF0000;
            cursor: pointer;
            color: #FF0000;
        }*/
        /*.hide{
            display:none;
            padding: 0px;
            width: 80%;
        }*/

        .tab_register{
            height: 200px;
        }

        .weixin_wenzi{
            text-align: center;
        }

        .weixin_img{
            margin-left: auto;
            margin-right: auto;
            width: 30px;
        }
        .login_user_panel{
            
            padding: 0;
            /*padding-top: 30px;*/
            width: 80%;
            margin: 0px;
            margin-left: auto;
            margin-right: auto;
        }
        .login_user_pic{
            float: left;
            padding-right: 20px;
            width: 24px;
            
        }
        .login_box{
            width: 100%;
            border-bottom: 1px solid #fff;
            font-size: 20px;
            color: #7d7d7d;
            background-color: transparent;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 3px solid #fff;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: rgb(255, 255, 255);
            padding-bottom: 10px;
            text-align: left;
            float:right;
        }
        .login_passwd_panel{
            padding-top: 15px;
        }

        .login_button_panel{
            padding-top: 120px;
            float: none;
            /*padding-bottom: 40%;*/
        }
        .login_button{
            width:60%;
            height:50px;
            border:1px solid #fff;
            border-radius:50px;
            margin-left: auto;
            margin-right: auto;
            display:block;
            text-align:center;
            text-decoration:none;
            font-size:24px;
            color:#fff;
            font-family:"微软雅黑";
            line-height:50px;
            background-color: transparent;
        }
        /*.register_panel{
            position:relative;
            top:100px;
            width: 175px;
            margin-left: auto;
            margin-right: auto;
        }
        .register{
            float: left;
            text-align: center;
        }

        .register{
            color: red;
        }*/