 .register{
            position:absolute;
            top:0;
            right:4.3%;
            font-family:"微软雅黑";
            text-decoration:none;
            color:#ff432f;
            font-size:24px;
            line-height:60px;
        }

        .touxiang_big
        {
            width: 30%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 30px;
        }

        .login_box{
            width: 100%;
            border-bottom: 1px solid #fff;
            font-size: 30px;
            color: #7d7d7d;
            font-family: "微软雅黑";
            background-color: transparent;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 3px solid #fff;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: rgb(255, 255, 255);
            padding-bottom: 10px;
        }

        .forgetcode{
            font-size: 24px;
            color: #fff;
            font-family: "微软雅黑";
        }

        .login_button{
            width:50%;
            height:70px;
            border:1px solid #fff;
            border-radius:50px;
            margin-left: auto;
            margin-right: auto;
            display:block;
            text-align:center;
            text-decoration:none;
            font-size:30px;
            color:#fff;
            font-family:"微软雅黑";
            line-height:70px;
            background-color: transparent;
        }

        .login_user_pic{
            float: left;
            padding-right: 20px;
            
        }

        .login_user_panel{
            padding-top: 30px;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        .login_passwd_panel{
            padding-top: 15px;
        }

        .password_panel{
            float: right;
            padding-top: 20px;
        }

        .login_button_panel{
            padding-top: 70px;
            float: none;
            padding-bottom: 40%;
        }