@charset "utf-8";
/* CSS Document */


.clear{
	clear:both;
}
*{
	padding:0;
	margin:0;
}
ul,ol{
	list-style:none;
}
a{
	outline:none;
}
img{
	border:0;
}
body{
	font-family:Arial, Helvetica, sans-serif;
}
.top_inner,.main_inner,.nav_inner{
	/*width:750px;*/
	width:100%;
	margin:0 auto;
}
#main,#nav,#top{
	/*min-width:750px;*/
	min-width:100%;
}
.top_inner{
	position:relative;
	height:80px;
	background-color:#434343;
}
.top_inner h2{
	font-family:"微软雅黑";
	font-weight:normal;
	line-height:80px;
	text-align:center;
	color:#fff;
	font-size:36px;
}
.top_inner .register{
	position:absolute;
	top:0;
	right:4.3%;
	font-family:"微软雅黑";
	text-decoration:none;
	color:#ff432f;
	font-size:30px;
	line-height:80px;
}
.main_inner{
	/*height:810px;*/
	height:108%;
	/*width:750px;*/
	width:100%;
	padding:90px 0 0 0;
	/*background:url(../images/mine_main_bg.jpg) no-repeat;*/
	/*background:url(../images/mine_main_bg.jpg) repeat;*/
	/*To Do*/
	/*background-color:#434343;*/
}
.main_inner .sub_nav{
	padding-top:68px;
}
.main_inner .touxiang_big{
	/*padding-left:270px;*/
	margin-left: auto;
	margin-right: auto;
}
.main_t li{
	position:relative;
	height:100px;
	/*width:422px;*/
	width:56%;
	/*margin-left:168px;*/
	margin-left: auto;
	margin-right: auto;
	border-bottom:1px solid #fff;
	font-size:30px;
	line-height:100px;
	color:#7d7d7d;
	font-family:"微软雅黑";
}
.main_inner .login_icon{
	position:absolute;
	top:25px;
	left:-60px;
}
.main_inner .forgetcode{
	font-size:24px;
	color:#fff;
	font-family:"微软雅黑";
	/*padding-left:470px;*/
	line-height:100px;
}
.main_inner .login_btn{
	width:270px;
	height:70px;
	border:1px solid #fff;
	border-radius:50px;
	/*margin-left:204px;*/
	margin-left: auto;
	margin-right: auto;
}
.login_btn a{
	display:block;
	text-align:center;
	text-decoration:none;
	font-size:30px;
	color:#fff;
	font-family:"微软雅黑";
	line-height:70px;
}
.main_inner .main_b{
	/*padding-left:200px;*/
	padding-top:60px;
}

.main_inner .main_b_qq_sina{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	/*height: 70px;*/
	padding-bottom:10px;
}

.main_b_qq_sina a{
	font-size:24px;
	text-decoration:none;
	line-height:36px;
	color:#7d7d7d;
	font-family:"微软雅黑";
	padding-left:35px;
}


.main_b .qq{
	/*background:url(../images/login_other_icon_09.png) no-repeat;*/
}
.main_b .sina{
	/*background:url(../images/login_other_icon_12.png) no-repeat;*/
}
.nav_inner{
	position:relative;
	height:96px;
	background:#434343;
}
.nav_inner li{
	float:left;
	width:150px;
	cursor:pointer;
}

.nav_inner .designer{
	height:43px;
	background:url(../images/icon_01.png) no-repeat 56px 0;
}
.nav_inner .works{
	height:43px;
	background:url(../images/icon_02.png) no-repeat 56px 0;
}
.nav_inner .apt{
	height:43px;
	background:url(../images/icon_04.png) no-repeat 56px 0;
}
.nav_inner .mine{
	height:43px;
	background:url(../images/icon_05.png) no-repeat bottom ;
	
}
.nav_inner a{
	display:block;
	width:150px;
	margin-top:44px;
	line-height:50px;
	font-size:24px;
	text-align:center;
	font-family:"微软雅黑";
	color:#fff;
	text-decoration:none;
}
.nav_inner .mine_current{
	border-bottom:2px solid #ff432f;
}
.nav_inner .nav_home{
	padding-top:28px;
	color:#434343;
}
.nav_inner span{
	position:absolute;
	bottom:0;
	left:300px;
	height:133px;
	width:150px;
	background:url(../images/icon_03.png) no-repeat;
	cursor:pointer;
}

.login_lanel {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	/*padding-top:60px;*/
}
