@charset "utf-8";
/* CSS Document */


.clear{
	clear:both;
}
*{
	padding:0;
	margin:0;
}
ul,ol{
	list-style:none;
}
a{
	outline:none;
}
img{
	border:0;
}
body{
	font-family:Arial, Helvetica, sans-serif;
}
.top_inner,.main_inner,.nav_inner{
	width:750px;
	margin:0 auto;
}
#main,#nav,#top{
	min-width:750px;
}
.top_inner{
	height:80px;
	background-color:#434343;
}
.top_inner h2{
	font-family:"微软雅黑";
	font-weight:normal;
	line-height:80px;
	text-align:center;
	color:#fff;
	font-size:36px;
}
.main_inner{
	height:810px;
	width:610px;
	padding:148px 0 0 140px;
	background:url(../images/mine_main_bg.jpg) no-repeat;
}
.main_inner .sub_nav{
	padding-top:68px;
}
.main_inner img{
	padding-left:130px;
}
.main_inner li{
	float:left;
	width:220px;
	height:130px;
	cursor:pointer;
}
.main_inner a{
	display:block;
	font-family:"微软雅黑";
	text-decoration:none;
	padding-top:64px;
	line-height:66px;
	text-align:center;
	color:#fff;
	font-size:30px;
}
.main_inner h4{
	padding-left:205px;
	font-family:"微软雅黑";
	font-weight:normal;
	line-height:74px;
	color:#fff;
	font-size:30px;
}
.main_inner .t_r,.main_inner .b_r{
	margin-right:0;
}
.main_inner .t_l{
	margin:0 30px 30px 0;
	background:url(../images/mine_main_icon_03.png) no-repeat 90px 20px;
}
.main_inner .t_r{
	background:url(../images/mine_main_icon_05.png) no-repeat 90px 20px;
}
.main_inner .b_l{
	margin:0 30px 30px 0;
	background:url(../images/mine_main_icon_09.png) no-repeat 90px 20px;
}
.main_inner .b_r{
	background:url(../images/mine_main_icon_10.png) no-repeat 90px 20px;
}
.nav_inner{
	position:relative;
	height:96px;
	background:#434343;
}
.nav_inner li{
	float:left;
	width:150px;
	cursor:pointer;
}

.nav_inner .designer{
	height:43px;
	background:url(../images/icon_01.png) no-repeat 56px 0;
}
.nav_inner .works{
	height:43px;
	background:url(../images/icon_02.png) no-repeat 56px 0;
}
.nav_inner .apt{
	height:43px;
	background:url(../images/icon_04.png) no-repeat 56px 0;
}
.nav_inner .mine{
	height:43px;
	background:url(../images/icon_05.png) no-repeat bottom ;
	
}
.nav_inner a{
	display:block;
	width:150px;
	margin-top:44px;
	line-height:50px;
	font-size:24px;
	text-align:center;
	font-family:"微软雅黑";
	color:#fff;
	text-decoration:none;
}
.nav_inner .mine_current{
	border-bottom:2px solid #ff432f;
}
.nav_inner .nav_home{
	padding-top:28px;
	color:#434343;
}
.nav_inner span{
	position:absolute;
	bottom:0;
	left:300px;
	height:133px;
	width:150px;
	background:url(../images/icon_03.png) no-repeat;
	cursor:pointer;
}
