.wx_nav{
        overflow: hidden;
        /*border-top: 1px solid #ddd;*/
        position: fixed;
        z-index: 0;
        width: 100%;
        bottom: 0;
        /*bottom: 100px;*/
        left: 0;
        display: -webkit-flex;
    /*    background:url(../images/test_bg.jpg);
        background-repeat:no-repeat;
        background-size: 100% 100%;
        background-position:bottom;*/
    }

    a, a:visited {
        text-decoration: none;
        color: #333;
    }

    .top{
        display: block;
        flex: 1;
        -ms-flex: 1;
        -webkit-flex: 1;
        box-flex: 1;
        -ms-box-flex: 1;
        -webkit-box-flex: 1;
        padding-top: 4px;
        color: #999;
        font-size: 18px;
        font-family:"微软雅黑";
        /*background-color: #fff;*/
        /*background:#434343;*/
        text-align: center;
        /*max-height: 100px;*/
    }


    .wx_nav a{
        display: block;
        flex: 1;
        -ms-flex: 1;
        -webkit-flex: 1;
        box-flex: 1;
        -ms-box-flex: 1;
        -webkit-box-flex: 1;
        padding-top: 4px;
        color: #999;
        font-size: 18px;
        font-family:"微软雅黑";
        /*background-color: #fff;*/
        background:#434343;
        text-align: center;
    }

    .wx_nav, .wx_nav a{
        height: 60px;
    }

    .shejishi_active a{
        color: #e4393c;
    }

    .shejishi_active a:before{
        background-image: url(../images/icon_11.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        width: 23px;
        height: 23px;
        content: '\20';
        display: block;
        margin: 0 auto 2px auto;
    }

    .shejishi_deactive a:before{
        background-image: url(../images/icon_1.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        width: 23px;
        height: 23px;
        content: '\20';
        display: block;
        margin: 0 auto 2px auto;
    }

    .zuopin_active a{
        color: #e4393c;
    }

    .zuopin_active a:before{
        background-image: url(../images/icon_22.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        width: 23px;
        height: 23px;
        content: '\20';
        display: block;
        margin: 0 auto 2px auto;
    }

    .zuopin_deactive a:before{
        background-image: url(../images/icon_2.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        width: 23px;
        height: 23px;
        content: '\20';
        display: block;
        margin: 0 auto 2px auto;
    }

    .home_active a{
        color: #e4393c;
    }

    .home_active a:before{
        background-image: url(../images/icon_33.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        width: 23px;
        height: 23px;
        content: '\20';
        display: block;
        margin: 0 auto 2px auto;
    }

    .home_deactive a:before{
        background-image: url(../images/icon_3.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        width: 23px;
        height: 23px;
        content: '\20';
        display: block;
        margin: 0 auto 2px auto;
    }

    .yuyue_active a{
        color: #e4393c;
    }

    .yuyue_active a:before{
        background-image: url(../images/icon_44.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        width: 23px;
        height: 23px;
        content: '\20';
        display: block;
        margin: 0 auto 2px auto;
    }

    .yuyue_deactive a:before{
        background-image: url(../images/icon_4.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        width: 23px;
        height: 23px;
        content: '\20';
        display: block;
        margin: 0 auto 2px auto;
    }

    .wode_active a{
        color: #e4393c;
    }

    .wode_active a:before{
        background-image: url(../images/icon_55.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        width: 23px;
        height: 23px;
        content: '\20';
        display: block;
        margin: 0 auto 2px auto;
    }

    .wode_deactive a:before{
        background-image: url(../images/icon_5.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        width: 23px;
        height: 23px;
        content: '\20';
        display: block;
        margin: 0 auto 2px auto;
    }


    .test_pic{
        background:url(../images/home.png);
        background-repeat:no-repeat;
        background-size: auto 100%;
        background-position:bottom;
        /*padding-bottom: 4px;*/
        /*background-size: cover;*/
        /*min-width:50px;*/
        /*min-height: 705px;*/
        /*min-height: 100%;*/
    }

    .content{
        width:100px;
        height:100px;
        border-radius:100px;
        border:1px solid #f00;
        /*position:absolute;*/
        background:#FFFFFF;
        }