*{padding:0; margin:0;}

ul, ol, li, dl {
    list-style-type: none;
}
.box {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.box > * {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}

.nav4{
    /*height:100px;*/
    /*height:49px;*/
}

.nav4 ul{
    position:fixed;
    z-index:200;
    bottom:30px;
    left:0;
    width:100%
}

.nav4 li{
    border:1px solid rgba(190,190,190,1);
    height:68px;
    border-bottom:0;
    border-right:0;
    position:relative;
    -webkit-box-shadow:inset 0 0 3px #fff;
    float:left;
    width:33.26%;
}

.nav4 a:before{
    background-image: url(../images/icon_01_01.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    width: 23px;
    height: 23px;
    content: '\20';
    display: block;
    margin: 0 auto 0px auto;
}


.nav4 li>a{
    /*font-size:15px;*/
    /*-webkit-box-sizing:border-box;*/
    /*box-sizing:border-box;*/
    /*-webkit-tap-highlight-color:rgba(0,0,0,0);*/
    /*border-bottom:0;*/
    /*display:block;*/
    /*line-height:45px;*/
    /*text-align:center;*/
    /*background:-webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#dcdcdc), color-stop(35% ,#ededed), color-stop(50%, #e3e3e3) );*/
    display:block;
    /*width:150px;*/
    /*margin-top:44px;*/
    line-height:45px;
    font-size:24px;
    text-align:center;
    font-family:"微软雅黑";
    color:#fff;
    text-decoration:none;
}

.nav4 li>a span{
    color: #4f4d4f;
    display: inline-block;
    padding-left: 15px;
    /*background: url(imgs/1.svg#2) no-repeat 4px 18px;*/
    -webkit-background-size: 9px auto;
    text-shadow:0px 1px 0px #ffffff;
}
