@charset "utf-8";
/* CSS Document */

.clear{
	clear:both;
}
*{
	padding:0;
	margin:0;
}
ul,ol{
	list-style:none;
}
a{
	outline:none;
}
img{
	border:0;
}
body{
	font-family:Arial, Helvetica, sans-serif;
}
.top_inner,.main_inner,.nav_inner{
	width:750px;
	margin:0 auto;
}
#main,#nav,#top{
	min-width:750px;
}
.top_inner{
	position:relative;
	height:80px;
	background-color:#434343;
}
.top_inner img{
	position:absolute;
	top:0;
	left:0;
}
.top_inner h2{
	font-family:"微软雅黑";
	font-weight:normal;
	line-height:80px;
	text-align:center;
	color:#fff;
	font-size:36px;
}

.main_inner{
	height:696px;
	width:750px;
	padding:172px 0 0 0;
	background:url(../images/mine_main_bg.jpg) no-repeat;
}
.main_t li{
	position:relative;
	height:100px;
	width:422px;
	margin-left:168px;
	border-bottom:1px solid #fff;
	font-size:30px;
	line-height:100px;
	color:#7d7d7d;
	font-family:"微软雅黑";
}
.main_inner .login_icon{
	position:absolute;
	top:25px;
	left:-60px;
}
.main_inner .login_btn{
	width:270px;
	height:70px;
	border:1px solid #fff;
	border-radius:50px;
	margin-left:204px;
	margin-top:90px;
}
.login_btn a{
	display:block;
	text-align:center;
	text-decoration:none;
	font-size:30px;
	color:#fff;
	font-family:"微软雅黑";
	line-height:70px;
}
.main_b li{
	height:36px;
	padding-left:70px;
	padding-bottom:10px;
	width:290px;
}
.nav_inner{
	position:relative;
	height:96px;
	background:#434343;
}
.nav_inner li{
	float:left;
	width:150px;
	cursor:pointer;
}

.nav_inner .designer{
	height:43px;
	background:url(../images/icon_01.png) no-repeat 56px 0;
}
.nav_inner .works{
	height:43px;
	background:url(../images/icon_02.png) no-repeat 56px 0;
}
.nav_inner .apt{
	height:43px;
	background:url(../images/icon_04.png) no-repeat 56px 0;
}
.nav_inner .mine{
	height:43px;
	background:url(../images/icon_05.png) no-repeat bottom ;
	
}
.nav_inner a{
	display:block;
	width:150px;
	margin-top:44px;
	line-height:50px;
	font-size:24px;
	text-align:center;
	font-family:"微软雅黑";
	color:#fff;
	text-decoration:none;
}
.nav_inner .mine_current{
	border-bottom:2px solid #ff432f;
}
.nav_inner .nav_home{
	padding-top:28px;
	color:#434343;
}
.nav_inner span{
	position:absolute;
	bottom:0;
	left:300px;
	height:133px;
	width:150px;
	background:url(../images/icon_03.png) no-repeat;
	cursor:pointer;
}

