@charset "utf-8";
/* CSS Document */

.clear{
	clear:both;
}
*{
	padding:0;
	margin:0;
}
ul,ol{
	list-style:none;
}
a{
	outline:none;
	text-decoration:none;
}
img{
	border:0;
}
body{
	font-family:Arial, Helvetica, sans-serif;
}
.top_inner,.main_inner,.nav_inner{
	width:750px;
	margin:0 auto;
}
#main,#nav,#top{
	min-width:750px;
}
.top_inner{
	position:relative;
	height:80px;
	background-color:#434343;
}
.top_inner img{
	position:absolute;
	top:0;
	left:0;
}
.top_inner .save{
	position:absolute;
	top:0;
	right:32px;
	font-family:"微软雅黑";
	text-decoration:none;
	color:#ff432f;
	font-size:30px;
	line-height:80px;
}
.top_inner h2{
	font-family:"微软雅黑";
	font-weight:normal;
	line-height:80px;
	text-align:center;
	color:#fff;
	font-size:36px;
}
.main_inner{
	padding-top:40px;
	height:918px;
	width:750px;
	background:url(../images/mine_main_bg.jpg) no-repeat;
}
.main_inner ul{
	width:700px;
	margin-left:25px;
	background:url(../images/li_bg_03.png);
}
.main_inner li{
	position:relative;
	width:700px;
	height:80px;
	background:url(../images/li_list_img_06.png) no-repeat 650px 25px;
	border-bottom:1px solid #434343;
}
.main_inner h3{
	color:#fff;
	font-weight:normal;
	font-size:30px;
	font-family:"微软雅黑";
	line-height:80px;
	padding-left:24px;
}
.main_inner a{
	position:absolute;
	display:block;
	padding-right:92px;
	right:0;
	top:0;
	color:#fff;
	text-decoration:none;
	font-size:30px;
	font-family:"微软雅黑";
	line-height:80px;
}
.main_inner .touxiang{
	background:url(../images/li_list_img_06.png) no-repeat 650px 55px;
	position:relative;
	height:138px;
}
.main_inner .touxiang_s{
	position:absolute;
	top:20px;
	right:92px;
}
.main_inner .tx_font{
	line-height:138px;
}
.main_inner .s_main_b{
	margin-top:40px;
}
.main_inner .list_last{
	border:0;
}
.nav_inner{
	position:relative;
	height:96px;
	background:#434343;
}

.nav_inner li{
	float:left;
	width:150px;
	cursor:pointer;
}

.nav_inner .designer{
	height:43px;
	background:url(../images/icon_01.png) no-repeat 56px 0;
}
.nav_inner .works{
	height:43px;
	background:url(../images/icon_02.png) no-repeat 56px 0;
}
.nav_inner .apt{
	height:43px;
	background:url(../images/icon_04.png) no-repeat 56px 0;
}
.nav_inner .mine{
	height:43px;
	background:url(../images/icon_05.png) no-repeat bottom ;
	
}
.nav_inner a{
	display:block;
	width:150px;
	margin-top:44px;
	line-height:50px;
	font-size:24px;
	text-align:center;
	font-family:"微软雅黑";
	color:#fff;
	text-decoration:none;
}
.nav_inner .mine_current{
	border-bottom:2px solid #ff432f;
}
.nav_inner .nav_home{
	padding-top:28px;
	color:#434343;
}
.nav_inner span{
	position:absolute;
	bottom:0;
	left:300px;
	height:133px;
	width:150px;
	background:url(../images/icon_03.png) no-repeat;
	cursor:pointer;
}
