@charset "utf-8";
/* CSS Document */
.clear{
	clear:both;
}
*{
	padding:0;
	margin:0;
}
ul,ol{
	list-style:none;
}
a{
	outline:none;
}
img{
	border:0;
}
body{
	font-family:Arial, Helvetica, sans-serif;
}
.main_inner,.nav_inner{
	width:750px;
	margin:0 auto;
}
#main,#nav{
	min-width:750px;
}
.main_inner{
	height:598px;
	width:626px;
	padding:440px 62px 0 62px;
	background:url(../images/index-bg.jpg) no-repeat;
}
.main_inner li{
	float:left;
	width:308px;
	height:222px;
	margin:0 10px 10px 0;
	cursor:pointer;
}
.main_inner .t_r,.main_inner .b_r{
	margin-right:0;
}
.main_inner .t_l{
	background:url(../images/main_icon_03.png) rgba(255,255,255,0.7) no-repeat 48px 0;
}
.main_inner .t_r{
	background:url(../images/main_icon_05.png) rgba(255,255,255,0.7) no-repeat 48px 0;
}
.main_inner .b_l{
	background:url(../images/main_b_icon_03.png) rgba(255,255,255,0.7) no-repeat 48px 0;
}
.main_inner .b_r{
	background:url(../images/main_b_icon_05.png) rgba(255,255,255,0.7) no-repeat 48px 0;
}
.nav_inner{
	position:relative;
	height:96px;
	background:#434343;
}
.nav_inner li{
	float:left;
	width:150px;
	cursor:pointer;
}

.nav_inner .designer{
    height:43px;
	background:url(../images/icon_01.png) no-repeat 56px 0;
}
.nav_inner .works{
    height:43px;
	background:url(../images/icon_02.png) no-repeat 56px 0;
}
.nav_inner .apt{
    height:43px;
	background:url(../images/icon_04.png) no-repeat 56px 0;
}
.nav_inner .mine{
    height:43px;
	background:url(../images/icon_05.png) no-repeat 56px 0;
}
.nav_inner a{
	display:block;
	width:150px;
	padding-top:44px;
	line-height:50px;
	font-size:24px;
	text-align:center;
	font-family:"微软雅黑";
	color:#fff;
	text-decoration:none;
}
.nav_inner .nav_home{
	padding-top:72px;
	color:#434343;
}
.nav_inner span{
	position:absolute;
	bottom:0;
	left:300px;
	height:133px;
	width:150px;
	background:url(../images/icon_03.png) no-repeat;
	cursor:pointer;
}
