@charset "utf-8";

@import url("../base.css");

/* Selectbox Styles
=================================*/

a.sctble_display {
	border: solid #ddd 1px;
}

a.sctble_display span {
	padding: 0 22px 0 7px;
	height: 22px;
	background: #fff url(shoucang_05.png) no-repeat right 0;
	line-height: 22px;
}
	a.sctble_display:hover span { background-position: right -21px }
	a.sctble_focus span { background-position: right -42px !important }
	
/* Pulldown Mat (Basis)
=================================*/

div.sctble_mat {}

	div.sctble_mat dl {}
	
	div.sctble_mat a {
		padding-right: .7em;
		color: #1972ea;
		font-weight: bold;
	}
	
	div.sctble_mat a.selected {
		color: #333;
		text-decoration: none;
		cursor: default;
	}